@layer base, starlight, theme, components, utilities;

@layer components {
    body {
        --sl-color-black: 0, 0%, 96.08%;
        --sl-color-bg: hsl(var(--sl-color-black));
    }
    .sl-container {
        outline: 2px solid black;
        outline-offset: 2rem;
    }
    .hero {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    a[href="/resume.pdf"] {
        margin-left: auto;
        font-weight: 800;
    }
    article:has(div ul) {
        border: 0px;
        margin-block: 1rem;
        padding: 0px;
        .body {
            display: grid;
            grid-template-columns: 1fr auto;
        }

        .body > p:nth-child(2),
        .body > p:nth-child(7),
        .body > ul:nth-child(8),
        .body > p:nth-child(9),
        .body > ul:nth-child(10) {
            grid-column: 1/-1;
        }
    }
    .card:has(> div > #my-links) {
        .sl-heading-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            display: none;
        }
        .card-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1.5rem;
        }

        .card-grid > div {
            flex: 1 1 300px;
        }
    }

    .copy {
        align-items: flex-start;
    }

    .tagline {
        text-align: left;
    }

    .actions {
        justify-content: flex-start;
        gap: 0.5rem 0.5rem;
        background: transparent;
    }

    .actions > a {
        background: transparent;
        color: inherit;
        outline: 0;
        border: 0;
        font-size: large;
        padding: 0;
    }

    .card-grid:has(#my-links),
    starlight-theme-select {
        display: none;
    }
    .sl-heading-wrapper {
        margin-top: 0.5rem;
    }
    .sl-heading-wrapper.level-h2 {
        margin-top: 0.5rem;
    }

    h2,
    .title {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
    }

    h3,
    th:first-of-type {
        text-decoration: underline !important;
        text-align: left;
        font-size: 1.3rem;
        font-weight: 800;
    }

    @media (max-width: 1150px) {
        .sl-container {
            outline: 0px transparent;
        }
    }

    @media (prefers-color-scheme: dark) {
        body {
            --sl-color-black: hsl(0, 18%, 04%);
            --sl-color-bg: var(--sl-color-black);
            --sl-color-text: hsl(0, 18%, 96%);
        }
        .sl-container {
            outline: 2px solid white;
        }
    }

    @media print {
        .sl-container {
            outline: 0px transparent;
        }
        .hero {
            padding: 1rem 0;
        }
        html {
            font-size: 12px;
        }

        #main-frame {
            padding: 0px;
        }

        ul {
            margin-top: 0;
        }

        .sl-flex.stack {
            gap: 0rem;
        }

        article:has(#skills) {
            .body {
                grid-template-columns: 1fr;
            }
            ul {
                padding-left: 0;
            }
        }

        .actions,
        header,
        .tagline {
            display: none;
        }
        .card-grid:has(#my-links) {
            margin-block: var(--sl-content-gap-y);
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0.5rem;
            margin-top: -0.5rem;
            display: flex;
            flex-wrap: wrap;
            .sl-heading-wrapper {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
            }
            svg {
                display: none;
            }
            .sl-link-card {
                padding: 0;
                border: 0px;
                box-shadow: none;
                flex: 1 1 max-content;
                text-decoration: underline;
            }
            .title {
                font-size: 1rem;
                text-transform: lowercase;
                font-weight: normal;
            }
        }
    }
}
