@import "tailwindcss";

button.ghost {
    background-color: transparent;
    border: transparent;
    padding: 0px;
}
.project {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.mermaid {
    padding-inline: 1rem;
}
.popover:popover-open {
    flex-direction: column;
    align-items: center;
}
.popover::backdrop {
    overflow: hidden;
    backdrop-filter: blur(3px);
    overscroll-behavior: contain;
}

.p {
    margin-inline: auto;
}

svg {
    margin-inline: auto;
}

.sidebar-content,
.right-sidebar-container
{
    display: none !important;
}
