---
// title: 'Resume'
// layout: '../layouts/Layout.astro'
// date created: 2022-02-21 14:41
// date updated: 2023-07-01 10:40
// published: 2023-07-01 10:40

import "../styles/index.css";

export const published = new Date("2023-02-05");
export const updated = new Date("2023-07-07");
import Layout from "../layouts/Layout.astro";

export const title = "Resume";
---


<Layout title={title}>


    <h1 data-heading="Matthew Bratrsovsky">Matthew Bratrsovsky</h1>

    <section id="toc">
        <h2>
            Table of Contents
        </h2>
        <ul class="toc">
            <li>
                <a href="#SKILLS">Skills</a>
            </li>
            <li>
                <a href="#EXPERIENCE">Experience</a>
            </li>
            <li>
                <a href="#EDUCATION">Education</a>
            </li>
            <li>
                <a href="#PROJECTS">Projects</a>
            </li>
            <li>
                <a href="#HOBBIES">Hobbies</a>
            </li>
        </ul>
    </section>

    <h2 data-heading="Summary">Summary</h2>
    <!--I am a **full stack developer** with a passion for collaboration, creativity and colleagues who share similar values. My ideal company is innovative and emphasizes community. I am most practiced in React, Go and Postgres and I love learning new technologies.-->
    <p>
        I am a <b>full stack developer</b> with a passion for collaboration, creativity and colleagues who share similar
        values. My ideal company is innovative and emphasizes community. I am most practiced in JavaScript, Go and
        Postgres
        and I love learning new technologies.
    </p>
    <p>✉️ <a data-tooltip-position="top" aria-label="mailto://mattkbrat@pm.me" rel="noopener" class="external-link"
             href="mailto://realzing@pm.me" target="_blank">realzing @ pm.me</a> ⚈ 🔗 <a data-tooltip-position="top"
                                                                                        aria-label="https://linkedin.com/in/mattkbrat"
                                                                                        rel="noopener"
                                                                                        class="external-link"
                                                                                        href="https://linkedin.com/in/mattkbrat"
                                                                                        target="_blank">linkedin.com/in/mattkbrat</a>
        ⚈ 🔗<a data-tooltip-position="top" aria-label="https://github.com/mattkbrat/" rel="noopener"
              class="external-link" href="https://github.com/mattkbrat/" target="_blank">github.com/mattkbrat</a></p>
    <hr>
    <h2 id="SKILLS" data-heading="SKILLS">SKILLS</h2>
    <ul>
        <li><strong>BACKEND</strong>: Node.js, Python, Go, PostgreSQL, SQL, Docker, Linux, NGINX</li>
        <li><strong>FRONTEND</strong>: React, Svelte, HTML, CSS, JavaScript, Vue, Next.JS, TypeScript</li>
        <li><strong>SOFT</strong>: Leadership, Data Analysis, Entrepreneurship, Collaboration</li>
    </ul>
    <h2 id="EXPERIENCE" data-heading="WORK EXPERIENCE">WORK EXPERIENCE</h2>
    <div class="text-logo-date">
        <div class='text-logo'>
            <a>
                <img src="viaero-logo.png" alt="" width="100"/>
            </a>
            <h3>Viaero Wireless</h3>
        </div>
        May 2022 - Present
    </div>

    <p>Full Stack Developer</p>
    <ul>
        <li>Create web applications, manage servers and develop backend architecture for a telecommunication company.
        </li>
        <li>Collaborate with stakeholders and train end users.</li>
    </ul>


    <div class="text-logo-date">
        <h3>CMB Auto Sales</h3>
        May 2019 - Aug 2021
    </div>

    <p>Software Developer (Intern)</p>

    <ul>
        <li>Reduced the average transaction time from 30 to 7 minutes.</li>
        <li>Increased customer awareness and reduced the percentage of bad debts by ~40%.</li>
    </ul>
    <h2 id="EDUCATION" data-heading="EDUCATION">EDUCATION</h2>

    <div class="text-logo-date">
        <div class='text-logo'>
            <a>
                <img src="unc-logo.png" alt="" width="100"/>
            </a>
            <h3 data-heading="University of Northern Colorado">University of Northern Colorado</h3>
        </div>
        <p>2020 - 2022<br>
    </div>

    Bachelor of Business Administration - BBA, Computer Information Systems
    <ul>
        <li>Treasurer, Phi Sigma Pi National Honor Fraternity; Scholar of the Reisher Family</li>
    </ul>
    <div class="text-logo-date">
        <div class='text-logo'>
            <a>
                <img src="mcc.png" alt="" width="100"/>
            </a>
            <h3 data-heading="Morgan Community College">Morgan Community College</h3>
        </div>
        <p>2018 - 2020<br>
    </div>

    Associate of Arts - AA, Accounting and Business/Management

    <h2 id="PROJECTS" data-heading="PROJECTS">PROJECTS</h2>
    <h3 data-heading="Customer Cell Provisioning">Customer Cell Provisioning</h3>
    <p>
        <b>SOAP</b>, <b>XML</b>, <b>ADP</b>, <b>NextJS</b>, <b>PostgreSQL</b>, <b>Redis</b>
    </p>
    <ul>
        <li>Accelerate XML training with an easy-to-use and recognizable web application.</li>
        <li>Facilitate provisioner interactions with nodes on Viaero's Ericsson network.</li>
        <li>Permissions-based functionality.</li>
        <li>Created an XML/SOAP editor and formatter.</li>
    </ul>

    <h3 data-heading="Tower Camera Site">Tower Camera Site</h3>

    <!--
**RTSP**, **FFmpeg**, **Digest Authentication**, **Nodemailer**, **NextJS**, **Go**

- Assist local weather channels with capturing RTSP streams.
- Allow for editing recorded streams with a suite of abstracted FFmpeg functions and a node-based layout.
- Communicate with Axis Communication's VAPIX endpoints.
- Attractively layout and organize camera towers spanning several geographic sectors.
- Administer a public-facing, invite-only site with permission-based routes and encrypted profiles.

-->

    <p>
        <b>RTSP</b>, <b>FFmpeg</b>, <b>Digest Authentication</b>, <b>Nodemailer</b>, <b>NextJS</b>, <b>Go</b>
    </p>

    <ul>
        <li>Assist local weather channels with capturing RTSP streams.</li>
        <li>Allow for editing recorded streams with a suite of abstracted FFmpeg functions and a node-based layout.</li>
        <li>Communicate with Axis Communication's VAPIX endpoints.</li>
        <li>Attractively layout and organize camera towers spanning several geographic sectors.</li>
        <li>Administer a public-facing, invite-only site with permission-based routes and encrypted profiles.</li>
    </ul>

    <h3 data-heading="Fiber Troubleshooting">Fiber Troubleshooting</h3>

    <p>
        <b>Go</b>, <b>NextJS</b>, <b>ChartJS</b>
    </p>
    <ul>
        <li>Facilitate individual troubleshooting for 100+ fiber-based, corporate accounts.</li>
        <li>Ping traces individual and collective hosts, then displays the results in interactable charts.</li>
        <li>Transformed existing, static information to a dynamic database.</li>
    </ul>

    <h3 data-heading="All About Paws Pet Spa LLC.">
        <a href="https://www.fortmorgangrooming.com" target="_blank" rel="noopener" class="external-link">All About Paws
            Pet Spa, LLC.</a>
    </h3>

    <p>
        <b>AstroJS</b>, <b>Tailwind CSS</b>, <b>Preact</b>, <b>Cloudflare</b>, <b>GitHub</b>
    </p>

    <ul>
        <li>Attract clients with images and information and mobile-first layouts.</li>
        <li>Elegantly display an information-dense, static website.</li>
        <li>Deploy with Cloudflare pages and GitHub.</li>
    </ul>

    <h3 data-heading="Dealer Management System">Dealer Management System</h3>

    <p>
        <b>WPF .NET</b>
    </p>

    <ul>
        <li>Create and track transactions, administer receipts, create billing statements and record inventory</li>
    </ul>

    <h2 id="HOBBIES" data-heading="HOBBIES">HOBBIES</h2>
    <p>Cooking, Personal Knowledge Management, Writing, Self-hosting, Gaming</p>
    <div class="obsidian-metatable light"></div>
</Layout>