.counter {
	display: grid;
	font-size: 2em;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	margin-top: 2em;
	place-items: center;
}

.counter button {
    font-size: 1em;
    background-color: rebeccapurple;
    color: white;
    border-radius: 2px;
    border: none;
    padding: 0.5em;
    cursor: pointer;
}

.counter button:active {
    background-color: darkviolet;
}

.counter-message {
	text-align: center;
}