@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';
@custom-variant dark (&:where(.dark, .dark *));
/*@tailwind variants;*/

/* modern theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

/* vintage theme */
@font-face {
	font-family: 'Abril Fatface';
	src: url('/fonts/AbrilFatface.ttf');
	font-display: swap;
}

:root {
	--h-header: 4rem;
}

h3 {
	text-decoration: underline;
	font-weight: bold !important;
}

@layer base {
	html {
		@apply text-[14px] lg:text-[20px];
	}

	body {
		background-image: radial-gradient(
			circle farthest-corner at -24.7% -47.3%,
			rgba(6, 130, 165, 0.3) 0%,
			rgba(34, 48, 86, 0.3) 66.8%,
			rgba(15, 23, 42, 0.3) 100.2%
		);
		@variant dark {
			background-image: radial-gradient(
				circle farthest-corner at -24.7% -47.3%,
				rgba(6, 130, 165, 1) 0%,
				rgba(34, 48, 86, 1) 66.8%,
				rgba(15, 23, 42, 1) 100.2%
			);
		}
	}

	svg {
		stroke: black;
		@variant dark {
			stroke: white;
		}
	}

	a {
		@apply underline underline-offset-2 transition-colors;
	}

	a:hover {
		font-weight: bolder;
		color: light-dark(var(--color-primary-400), var(--color-primary-400));
	}

	a,
	h3 {
		@apply pt-2 !text-xl;
	}

	h1 {
		@apply !text-4xl underline;
	}

	h2 {
		@apply !mt-2 !text-2xl;
		@apply uppercase;
	}

	strong {
		color: light-dark(var(--color-primary-600), var(--color-primary-400));
	}

	ul:not(#profile-links, #main-nav > ul) {
		@apply !list-disc pl-4;
	}

	tr {
		@apply flex flex-row justify-between;
	}

	@media print {
		button {
			@apply print:hidden;
		}

		div,
		section,
		body {
			@apply !bg-transparent !bg-none;
		}

		h2 {
			@apply text-2xl;
		}

		hr {
			display: block;
			height: 1px;
			background: transparent;
			width: 100%;
			border: none;
			border-top: solid 1px black;
		}

		a {
			@apply underline underline-offset-2;
		}

		#resume-content {
			@apply !gap-1 !space-y-2;
		}

		* {
			@apply !font-serif !text-black;
		}
	}
}

@layer components {
	.external-link {
		@apply flex flex-row items-start self-center lg:inline-flex lg:self-auto;
	}

	.external-link:not(#github-corner):after {
		content: '[_↗]';

		@apply mx-[2px] text-[8px];
	}

	.margin-top-nav {
		/* scroll-margin-top: 1rem; */
		@apply md:scroll-mt-[calc(var(--h-header)+0.4rem)];
	}

	@media print {
		.external-link {
			@apply inline flex-row items-start;
		}

		.external-link:after {
			content: unset !important;
		}

		.selected-heading {
			@apply -ml-0 border-l-0;
		}
	}
}
