---
export interface Props {
  title: string;
}

const title = Astro.props.title;

import "@fontsource/montserrat";
import Contact from "../content/contact.jsx";
import DownloadResume from "../components/DownloadResume.tsx";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Matthew Bratrsovsky</title>
  </head>
  <header>
    <nav class="header-nav">
    <Contact />
    <DownloadResume />
    </nav>

  </header>
  <body>
    <h1>
      {title || "Hello World"}
    </h1>
    <div class="main">
      <div class="wrapper">
        <slot />
      </div>

    </div>
  </body>
</html>
<style is:global>
  :root {
    --wrapper-width: 80%;
    --accent: 124, 58, 237;
    --accent-2: #615b51;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );

	--primary-font: #000;
    --secondary-font: #969a97;
    --primary-background: #efece9;
    --link-color: #9b3190;
    --solid-color: #fff
  }

  html {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
  	background-color: var(--primary-background);
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  body {
    /* Off black */
    align-items: center;
    color: var(--primary-font);
    justify-content: center;
	font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    margin-top: 8rem;

  }

  b {
    font-weight: bolder;
    color: rgb(var(--accent));
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    min-height: 100vh;
    padding-block: 2rem;
  }

  .wrapper {
    max-width: var(--wrapper-width);
    padding-inline: 2rem;
    background: var(--solid-color);
    padding-block: 3rem;
    box-shadow: 6px 6px 2px 1px rgba(var(--accent), 0.2);
    outline: 1px solid var(--accent-2);
  }

  .divider {
    height: 1px;
    width: 100%;
    background: rgb(var(--accent));
    max-width: 800px;
    margin-block: 1rem;
  }

  .toc {
    list-style: lower-roman;
  }

  .toc li a {
    color: var(--primary-font);
    text-decoration: none;
  }

  ul li {
    margin: 0;
    padding: 0;
  }

  blockquote {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: underline;
    color: var(--primary-font);

  }

  a:visited {
    color: var(--link-color);
  }

  h1, h2, h3 {
    letter-spacing: 0.1em;
    font-weight: bolder;
  }

  h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: var(--primary-font);
  }

  header {
    padding-block: 2rem;
    padding-inline: 3rem;

    width: 100%;
    position: fixed;
    height: 3rem;
    top: 0;
    left: 0;

    z-index: 100;
    border-bottom: 1px solid #ccc;
    background-color: var(--primary-background);
  }

  .header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  
  @media (max-width: 800px) {
    .main {
      border: unset;
    }
    .header-other {
      display: none;
    }

    p {
      text-align: left !important;
    }

    header {
        padding-inline: 1rem;
        padding-block: 2rem;
    }

    .header-nav {
      text-align: left;
        justify-content: flex-start;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --primary-font: #cccccc;
      --primary-background: #0d0d0d;
      --link-color: #705e99;
      --solid-color: black;
      background-color: var(--primary-background);
    }
  }

</style>
